<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../_shared/_head', title); %>
</head>
<body>
    <div class="mainGrid">
        <header>
            <%- include('../_shared/_navigator', brand, navMenu); %>
        </header>
        <main>
            <!-- Body Start here -->
            {{#with user}}
                <div class="detailContainer">
                    <form action="{{form.action}}" method="POST">
                        {{#if form.edit}}
                            <input name="UserID" type="hidden" value="{{UserID}}" />
                        {{/if}}
                        <label for="Username"><b>Username</b></label>
                        <input type="text" placeholder="Username" name="Username" value="{{Username}}" />
                        {{#if errors}}{{#with (find errors 'param' 'Username')}}<div class="error-input">{{msg}}</div>{{/with}}{{/if}}
                        <label for="Color"><b>Color</b></label>
                        <input type="color" placeholder="Color" name="Color" value="{{Color}}" />
                        {{#if errors}}{{#with (find errors 'param' 'Color')}}<div class="error-input">{{msg}}</div>{{/with}}{{/if}}
                        {{#if errors}}
                            <ul class="error-list">
                                {{#each errors}}
                                    <li>{{param}}: {{msg}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                        <hr />
                        <button type="submit" class="button">Submit</button>
                        <a href="/users">Cancel</a>
                    </form>
                </div>
            {{/with}}
            <!-- Body End here -->
        </main>
        <footer>
            <%- include('../_shared/_footer'); %>
        </footer>
    </div>
    <%- include('../_shared/_scripts'); %>
</body>
</html>
