<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_shared/_head', title); %>
</head>
<body>
    <div class="mainGrid">
        <header>
            <%- include('_shared/_navigator', brand, navMenu); %>
        </header>
        <main>
            <!-- Body Start here -->
            <h3>Dashboard</h3>

            <!-- Body End here -->
        </main>
        <footer>
            <%- include('_shared/_footer'); %>
        </footer>
    </div>
    <%- include('_shared/_scripts'); %>
</body>
</html>