body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

main {
  padding: 15px;
}

.ActionButtons {
  margin-top: 15px;
  padding-top: 15px;

  border-top: 2px solid lightgray;
}