<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_shared/_head', title); %>
</head>
<body>
    <div class="mainGrid">
        <header>
            <%- include('_shared/_navigator', brand, navMenu); %>
        </header>
        <main>
            <!-- Body Start here -->
            <h3>Dashboard</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-bg-primary">
                            Connected Devices
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Number if Devices</h3>
                            <p class="card-text">4 devices</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-bg-danger">
                            Tasks
                        </div>
                    </div>
                </div>
            </div>
            <!-- Body End here -->
        </main>
        <footer>
            <%- include('_shared/_footer'); %>
        </footer>
    </div>
    <%- include('_shared/_scripts'); %>
</body>
</html>